@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    color      : #334e64;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height     : 100vh;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);

}

.profile-container {
    position        : relative;
    background:     : rgba(255, 255, 255, 0.3);
    backdrop-filer  : blur(15px);
    width           : 350px;
    padding         : 100px 50px 40px;
    border-radius   : 12px;
    box-shadow      : 0 0 60px 5px rgba(0, 0, 0, 0.2);
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

.img-container {
    width        : 130px;
    height       : 130px;
    overflow     : hidden;
    border       : 5px solid #fc1111b2;
    border-radius: 50%;
    box-shadow   : 0 8px 55px #b92a76a4;
    position     : absolute;
    top          : 0;
    left         : 50%;
    transform    : translate(-50%, -50%);
}

.img-container img {
    width    : 100%;
    max-width: 100%;
    transform: scale(1.1);
}

.info {
    margin-bottom: 12px;
    font-size: 0.9rem;
}

.info svg{
    margin-bottom: -4px;

}

.place {
    margin-bottom: 40px;
}

.full-name {
    font-size     : 1.4em;
    font-weight   : bold;
    letter-spacing: 1px;
    color         : #ff0000d2;
}

.posts-info {
    width          : 100%;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    font-size      : 1.1em;
    letter-spacing : 0.5px;
    margin-bottom  : 30px;
    text-align     : center;
}

.posts-info span {
    display      : flex;
    justify-content: center;
    font-weight  : bold;
    margin-bottom: 4px;
}
.posts-info p{
    font-size: 1rem;
    margin: 0 8px;
}

.social-container {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 20px;
}

.social-container svg{
    margin-top: 7px;
}
.social-container a {
    padding         : 5px 10px;
    border-radius   : 40%;
    font-size       : 1.2em;
    cursor          : pointer;
    box-shadow      : 0px 5px 25px rgba(0, 0, 0, 0.15);
    transition      : transform 0.3s;
}

.social-container a:hover {
    transform: scale(1.1);
}

/* Social colors */


.social-container a.facebook {
    background: linear-gradient(45deg, #3b5998, #008cff);
    box-shadow: 0 4px 30px rgba(15, 71, 145, 0.7);
}

.social-container a.twitter {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
}

.social-container a.behance {
    background: linear-gradient(45deg, #f73ad7, #e18dfa);
    box-shadow: 0 4px 30px rgba(224, 17, 214, 0.7);
}

.social-container a.github {

    background: linear-gradient(45deg, #33333388, #333333);
    box-shadow: 0 4px 30px rgba(69, 69, 90, 0.7);
}

.action {
    outline: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background:linear-gradient(45deg, #1da1f2, #0e71c8);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    width: 80%;
    margin-top: 25px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.action.message {
    background-color: #6741ff;
}

.action:hover {
    transform: scale(1.05);
    opacity: 0.85;
}

.message{
    background:linear-gradient(45deg, #d5135a, #f05924);

}


/* Mobile device */
@media screen and (max-width:400px) {
    .profile-container{
        width: 300px;
        margin: 100px 0;
    }
    .social-container{
        gap: 20px;
        margin-left: -40px;
    }
    .action{
        width: 100%;
    }
}